@import "tailwindcss";

/* To stay */
body {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    "Segoe UI",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Noto Color Emoji",
    sans-serif;
  line-height: 1.5;
  letter-spacing: -0.01em;
  background: #F8FAFC;
  color: #0F172A;
  padding: 0;
  height: 100vh;
}

.card {
  background-color: #ffffff;
  border-radius: var(--radius-xl);
  height: 100%;
  overflow-y: hidden;
}

.noScroll{
  scrollbar-width: none;
}

.header {
  height: 88px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.footer {
  height: 40px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  text-align: center;
}

.app-shell {
  min-width: max-content;
  overflow: hidden;
  height: 100vh;
  background: #F8FAFC;
}

.app-body-scroll{
  overflow-x: auto;
  overflow-y: hidden;
}

.app-layout {
  display: grid;
  grid-template-columns:
    280px minmax(380px, 520px) minmax(560px, 1fr);
  height: calc(100vh - 88px - 40px);
  min-height: 0;
  gap: 24px;
  padding: 15px;
}




/* To think about */
:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



@media print {
  @page {
    size: A4;
    margin: 0;
  }

  html,
  body {
    width: 210mm;
    height: 297mm;
    margin: 0 !important;
    padding: 0 !important;
    background: white !important;
    overflow: hidden !important;
  }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  /* Skry úplne všetko */
  body * {
    visibility: hidden !important;
  }

  /* Zobraz iba CV */
  .cv-page,
  .cv-page * {
    visibility: visible !important;
  }

  .cv-page {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 210mm !important;
    transform: none !important;
    min-width: 210mm !important;
    max-width: 210mm !important;

    margin: 0 !important;
    padding: 0 !important;

    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    background: white !important;

    aspect-ratio: auto !important;
  }

  .header,
  .app-shell,
  .app-layout,
  .preview-panel,
  .no-print {
    margin: 0 !important;
    padding: 0 !important;
    min-height: auto !important;
    min-width: auto !important;
    background: transparent !important;
    border: none !important;
  }
}



.preview-panel {
  min-width: 0;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

.cv-page {
  width: 794px;
  min-height: 1123px;
  background: #ffffff;
  border-radius: 10px;
  border: solid 2px #E2E8F0;
  box-shadow: 10px 10px 84px -7px rgba(0, 0, 0, 0.19);
  overflow: hidden;
}


